body {
    background: linear-gradient(to right, rgb(0, 225, 225), rgb(68, 92, 182));
    
}

nav {
    background: linear-gradient(to right, rgb(0, 225, 137), rgb(68, 92, 182))

}

.card {
    margin:auto;
    text-align: center;
}

.bars {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #dffff7;
}